*{
    padding: 0;
    margin: 0 ;
}
@font-face {
    font-family: N01;
    src: url(../fonts/nunito/static/Nunito-Bold.ttf);
}
nav{
    position: fixed;
    height: 100vh;
    top: 0;
    width: 7%;
}

nav ul{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    color: white;
    list-style: none;
    font-family: N01;
}
.itens-menu{
    padding: 10%;
    transition: 0.7s;
}
.itens-menu:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #D73CBE;
}
a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:800px) {
    .itens-menu{
        padding: 0;
    }
    nav{
        width: 100%;
        height: 5vh;
        background-color: #2C1E4A;
        padding: 5%;
    }
    nav ul{
        height: 5vh;
        flex-direction: row
    }
}